{% extends "layout.html" %}
{% block contents %}
<div class="content-section">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {% if form.title.errors: %}
                {{ form.title(class="form-control is-invalid") }}
                <span class="invalid-feedback">
                    {% for error in form.title.errors %}
                        {{error}}
                    {% endfor %}
                </span>
            {% else %}
                {{ form.title(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {% if form.content.errors: %}
                {{ form.content(class="form-control is-invalid") }}
                <span class="invalid-feedback">
                    {% for error in form.content.errors %}
                        {{error}}
                    {% endfor %}
                </span>
            {% else %}
                {{ form.content(class="form-control") }}
            {% endif %}
        </div>
       
        <hr>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock contents%}